MYSTMON_HOST=0.0.0.0
MYSTMON_IMAGE=docker.io/sundeep/mystmon:0.72
MYSTMON_DEV_IMAGE=mystmon:dev
MYSTMON_EXPECTED_NODE_COUNT=8
MYSTMON_BUILD_HOST=192.168.1.72
MYSTMON_BUILD_USER=
MYSTMON_DEV_DIR=/mnt/ssd/mystmon-dev
MYSTMON_PROD_DIR=/mnt/ssd/mystmon-prod
MYSTMON_TEQUILAPI_PASSWORD=
MYSTMON_SSH_PASSWORD=
MYSTNODES_EMAIL=
MYSTNODES_PASSWORD=
